<div class="nested-fields">
  <div class="story-wrapper">
    <%= f.text_area :story, class: 'story-fields', placeholder: 'ストーリー' %>
    <%= link_to_remove_association '削除', f, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent remove-story-fields-btn' %>
  </div>
</div>
