<div class="container2">
  <h2>Welcome to Pixiv Story!</h2>
  物語の文章を考える<br/>↓<br/>投稿する<br/>↓<br/>イラストが自動でマッチング！<br/>↓<br/>絵本の完成！<br/>（どんな絵本になるかはできてからのお楽しみ!）
  <h5>まずはみんなのストーリーを<br/>見てみましょう！</h5>
  <%= link_to "Story一覧へ", picture_stories_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  <h5>最初から自分で<br/>ストーリーをつくるもよし！</h5>
  <%= link_to "Story作成へ", new_picture_story_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" %>
</div>