<div class="content-wrapper">
  <p class="index-story-title">ストーリー一覧</p>
  <div class="list-action mdl-list">
  <% @picture_stories.each do |pic_story| %>
    <div class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">star</i>
        <%= link_to pic_story[:title], pic_story %>
      </span>
    </div>
  <% end %>
  </div>
</div>
