<div class="container">
<h3><%= @picture_story.title %></h3>
<div class="main-carousel">
<% @picture_story.picture_story_orders.each do |order| %>
  <div class="carousel-cell">
    <p><%= order.story %></p>
    <%= image_tag order.image if order.image? %>
  </div>
<% end %>
</div>
</div>
