// Place all the styles related to the picture_stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 670px) {
  .content-wrapper {
    width: 100%;
  }
  .title-fields {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .story-fields {
    width: 80%;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
