// Place all the styles related to the picture_stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 670px) {
  .content-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .title-fields {
    width: 100%;
    margin: 20px 0;
    display: block;
    border: 0;
    border-radius: 3px;
    height: 30px;
    padding: 5px;
  }

  .story-wrapper {
    margin: 35px 0;
  }

  .story-fields {
    width: 100%;
    border: 0;
    border-radius: 3px;
    height: 50px;
    padding: 5px;
  }

  .remove-story-fields-btn {
    float: right;
    margin: 5px 0 15px !important;
  }

  .add-association {
    padding: 0 !important;
    margin-bottom: 15px !important;
    width: 100%;
    display: block;
  }

  .submit-btn {
    width: 100%;
  }

  body {
    width: 95%;
    height: 95%;
    margin: 0 auto;
  }

  .container {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  img {
    max-width: 90%;
  }

  .carousel-cell {
    width: 100%;
    height: 600px;
  }
}
